body {
  background: #333 !important;
  font-family: 'Roboto', sans-serif;
}

.container-fluid h1 {
  text-align: center !important;
  color: #f6f6f6;
  margin: 1.5em 0;

}

.container-fluid .form-control {
  margin-bottom: 0.5em;
  border-radius: 0;
}

.container-fluid .input-group-text {
  border-radius: 0;
}

.container-fluid .btn {
  border-radius: 0;
}

.side-nav {
  background: #464646;
  height: 100vh;
}

.side-nav a {
  color: #f6f6f6;
  display: block;
  text-align: left;
}

.side-nav a:hover {
  color: #989898;
}

.side-nav span{
  color: #f8f8f8;
  margin: 1em 0;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
}

.comments-container {
  background: #f7f7f9;
  padding: 0.8em;
  margin: 0.5em 0;
}

.comments-container .title {
  color: #404040;
  font-size: 1.2em;
  font-weight: 600;
}

.comments-container p {
  color: #929292;
}

.user-id {
  display: block;
  font-size: 1em;
  font-weight: 100;
  font-style: italic;
  width: 90%;
  float: left;
  padding-top: 0.5em;
}

.btn-group .btn a{
  color: #f6f6f6 !important;
  font-weight: 600;
}

.container-fluid .cookie-result {
  background: #f7f7f9;
  color: #464646;
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
  margin-top: 2em;
}

.ping-result {
  background: #f7f7f9;
  color: #464646;
  padding: 0.5em;
  margin-top: 2em;
  font-size: 1.2em;
}

.ping-result .is {
  font-weight: 600;
  margin-right: 0.5em;
}
